.DS_Store
/composer.lock
/vendor
/app/controllers/Test.php
/app/models/Test.php
/app/views/Test.php
/app/templates/test
/app/templates/cache
html
/public/assets/*.jpg
*.sqlite
node_modules
package-lock.json